*, *::after, *::before{
  box-sizing: border-box;
}
:root{
  --cell-size: 100px;
  --letter-size: calc(var(--cell-size) * 0.8);
}
body{
  margin: 0;
  padding:0;
}
.board{
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  gap:10px;
  grid-template-columns: repeat(3, auto);
}
.cell {
  height: var(--cell-size);
  width: var(--cell-size);
  background-color: rgb(231, 231, 231);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell.letter-x::before, 
.cell.letter-x::after{
  content: '';
  position: absolute;
  width: calc(var(--letter-size)*.08);
  height: var(--letter-size);
  background-color: black;
}
.cell.letter-x::before{
  transform: rotate(40deg);
}
.cell.letter-x::after{
  transform: rotate(-40deg);
}